{% extends 'base.html.twig' %}

{% block title %}{{trans.view_password_request}}{% endblock %}

{% block content %}
    <div class="text-center my-4">
        <img src="{{ basePath }}/img/tacos.png" class="img-fluid rounded-circle mb-2" alt="tacos">
    </div>

    <div class="login-box mx-auto d-block px-4 py-4 border rounded">
        {% if message is not null %}
            <div class="alert alert-important alert-primary">{{ message|nl2br }}</div>
        {% endif %}
        <h2 class="form-title text-center mb-4">{{ trans.form_title_password_reset }}</h2>
        <form method="post" autocomplete="off">
            <div class="mb-3">
                <label for="username" class="form-label">{{ trans.form_label_username_or_email }}</label>
                <input type="text" class="form-control" id="username" name="_username" autocomplete="username" placeholder="{{ trans.form_label_username_or_email }}" required="required" tabindex="1">
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary w-100" tabindex="2">
                    <span class="d-flex align-items-center justify-content-center">
                        <i class="bi bi-envelope"></i>
                        &nbsp;{{ trans.btn_password_reset }}
                    </span>
                </button>
            </div>
            <input type="hidden" name="{{ csrf.nameKey | raw }}" value="{{ csrf.name | raw }}">
            <input type="hidden" name="{{ csrf.valueKey | raw }}" value="{{ csrf.value | raw }}">
        </form>
    </div>
{% endblock %}
