{% extends 'base.html.twig' %}

{% block title %}{{trans.view_login}}{% endblock %}

{% block content %}
    <div class="text-center my-4">
        <img src="{{ basePath }}/img/tacos.png" class="img-fluid rounded-circle mb-2" alt="tacos">
    </div>

    <div class="login-box mx-auto d-block px-4 py-4 border rounded">
        {% if flashMsgError is not null %}
            <div class="alert alert-important alert-danger">{{ flashMsgError }}</div>
        {% endif %}
        {% if message is not null %}
            <div class="alert alert-important alert-primary">{{ message }}</div>
        {% endif %}
        <h2 class="form-title text-center mb-4">{{ trans.form_title_login }}</h2>
        <form method="post" autocomplete="off">
            <div class="mb-3">
                <label for="login" class="form-label">{{ trans.form_label_login }}</label>
                <input type="text" class="form-control" id="login" name="_login" autocomplete="username" placeholder="{{ trans.form_label_login }}" required="required" tabindex="1">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">{{ trans.form_label_password }}</label>
                <span class="form-text float-end"><a href="{{ password_forgot_url }}" tabindex="4">{{ trans.form_label_password_forgot }}</a></span>
                <input type="password" class="form-control" id="password" name="_password" autocomplete="new-password" placeholder="{{ trans.form_label_password }}" required="required" tabindex="2">
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-primary w-100" tabindex="3">{{ trans.btn_login }}</button>
            </div>
            <input type="hidden" name="{{ csrf.nameKey | raw }}" value="{{ csrf.name | raw }}">
            <input type="hidden" name="{{ csrf.valueKey | raw }}" value="{{ csrf.value | raw }}">
        </form>
    </div>
{% endblock %}
