{% extends 'base.html.twig' %}

{% block title %}{{trans.view_projects }}{% endblock %}

{% block css %}
    <link href="{{ basePath }}/lib/tempus-dominus/tempus-dominus.min.css" rel="stylesheet">
{% endblock %}

{% block navbar %}
    {% embed 'navbar.html.twig' with {'title': trans.view_projects, 'navLinks': navLinks } %}{% endembed %}
{% endblock %}

{% block content %}
    {% if userRole in [2, 3] %}
    <div class="d-flex justify-content-end py-2">
        <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#createProject">
            <i class="bi bi-plus-lg"></i>
            <span class="px-1">{{ trans.btn_create }}</span>
        </button>
    </div>
    {% endif %}

    <div class="card mb-3">
        <div class="card-body table-responsive">
            {% embed 'flash-messages.html.twig' %}{% endembed %}

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">{{ trans.table_row_name }}</th>
                        <th scope="col">{{ trans.table_row_customer }}</th>
                        <th scope="col">{{ trans.table_row_description }}</th>
                        <th scope="col">{{ trans.table_row_teams }}</th>
                        <th scope="col">{{ trans.table_row_visible }}</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for project in projects %}
                        <tr>
                            <td>
                                <div class="d-inline-flex align-items-center text-nowrap">
                                    <span class="badge p-1 border border-light rounded-circle" style="background-color: {{ project.color }};"><span class="visually-hidden">color</span></span>
                                    <span class="ms-1">{{ project.name }}</span>
                                </div>
                            </td>
                            <td>
                                <div class="d-inline-flex align-items-center text-nowrap">
                                    <span class="badge p-1 border border-light rounded-circle" style="background-color: {{ project.customer.color }};"><span class="visually-hidden">color</span></span>
                                    <span class="ms-1">{{ project.customer.name }}</span>
                                </div>
                            </td>
                            <td>{{ project.description|nl2br }}</td>
                            <td>
                                <span class="badge {{ project.teams == 0 ? "text-bg-secondary" : "text-bg-primary" }} ">{{ project.teams }}</span>
                            </td>
                            <td>
                                {% if project.visible == true %}
                                    <span class="badge text-bg-success">{{ trans.badge_yes }}</span>
                                {% else %}
                                    <span class="badge text-bg-danger">{{ trans.badge_no }}</span>
                                {% endif %}
                            </td>
                            <td>
                                <div class="float-end text-nowrap">
                                    <a class="icon-link icon-link-hover mx-2" href="{{ project.viewLink }}">
                                        <i class="bi bi-eye"></i>
                                    </a>
                                    {% if userRole == 3 or (userRole == 2 and project.teams > 0) %}
                                    <a class="icon-link icon-link-hover mx-2" href="{{ project.editLink }}">
                                        <i class="bi bi-pencil"></i>
                                    </a>
                                    {% endif %}

                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {% if userRole in [2, 3] %}
    <div class="modal fade" id="createProject" tabindex="-1" aria-labelledby="createProjectLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form name="project_edit_form" method="post" autocomplete="off">

                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="createProjectLabel">{{ trans.form_title_create_project }}</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <div class="row mb-3">
                            <label for="project_edit_form_name" class="col-form-label col-sm-3">{{ trans.form_label_name }}</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="project_edit_form_name" name="project_edit_form_name" placeholder="{{ trans.form_label_name }}" minlength="5" maxlength="180" required="required" tabindex="1">
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="project_edit_form_color" class="col-form-label col-sm-3">{{ trans.form_label_color }}</label>
                            <div class="col-sm-9">
                                <div class="dropdown">
                                    <input type="color" class="form-control form-control-color form-control-color-select" id="project_edit_form_color" name="project_edit_form_color" data-bs-toggle="dropdown" value="#ffffff">
                                    <div class="dropdown-menu" id="project_edit_form_colorselector">
                                        {% for color in colors %}
                                            <span class="btn btn-select-color m-1 p-2 border" style="background-color:{{ color.value }};" id="team_edit_form_color_entry" data-color="{{ color.value }}"></span>
                                            {% if loop.index is divisible by(6) %}
                                                <br>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="project_edit_form_customer" class="col-form-label col-sm-3">{{ trans.form_label_customer }}</label>
                            <div class="col-sm-9">
                                <select class="form-select" id="project_edit_form_customer" name="project_edit_form_customer" required="required" tabindex="3">
                                    <option selected value=""></option>
                                    {% for customer in customers %}
                                        <option value="{{ customer.id }}">{{ customer.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="project_edit_form_number" class="col-form-label col-sm-3">{{ trans.form_label_project_number }}</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="project_edit_form_number" name="project_edit_form_number" placeholder="{{ trans.form_label_project_number }}" minlength="0" maxlength="50" tabindex="4">
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="project_edit_form_description" class="col-form-label col-sm-3">{{ trans.form_label_description }}</label>
                            <div class="col-sm-9">
                                <textarea class="form-control" id="project_edit_form_description" name="project_edit_form_description" rows="3" tabindex="5"></textarea>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="datetimepicker1Input" class="col-form-label col-sm-3">{{ trans.form_label_project_start }}</label>
                            <div class="col-sm-9">
                                <div class="input-group" id="datetimepicker1" data-td-target-input="nearest" data-td-target-toggle="nearest">
                                    <span class="input-group-text" data-td-target="#datetimepicker1" data-td-toggle="datetimepicker">
                                        <i class="bi bi-calendar2-week"></i>
                                    </span>
                                    <input id="datetimepicker1Input" name="project_edit_form_start" type="text" class="form-control" data-td-target="#datetimepicker1" placeholder="{{ trans.dateFormats_date_placeholder }}" tabindex="6" readonly>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="datetimepicker2Input" class="col-form-label col-sm-3">{{ trans.form_label_project_end }}</label>
                            <div class="col-sm-9">
                                <div class="input-group" id="datetimepicker2" data-td-target-input="nearest" data-td-target-toggle="nearest">
                                    <span class="input-group-text" data-td-target="#datetimepicker2" data-td-toggle="datetimepicker">
                                        <i class="bi bi-calendar2-week"></i>
                                    </span>
                                    <input id="datetimepicker2Input" name="project_edit_form_end" type="text" class="form-control" data-td-target="#datetimepicker2" placeholder="{{ trans.dateFormats_date_placeholder }}" tabindex="7" readonly>
                                </div>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="project_edit_form_teams" class="col-form-label col-sm-3">{{ trans.form_label_add_team }}</label>
                            <div class="col-sm-9">
                                <select class="form-select" id="project_edit_form_teams" name="project_edit_form_teams" tabindex="8">
                                    <option selected value=""></option>
                                    {% for team in teams %}
                                        <option value="{{ team.id }}">{{ team.name }}</option>
                                    {% endfor %}
                                </select>
                                <div class="form-text">{{ trans.form_text_add_team }}</div>
                            </div>
                        </div>
                        <div class="mb-3" id="project_edit_form_selectedTeams">
                            <div class="row mb-3">
                                <div class="col-sm-9 offset-sm-3">
                                    {{ trans.form_label_selected_teams }}
                                </div>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-sm-6">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" id="project_edit_form_visible" name="project_edit_form_visible" tabindex="9" checked>
                                    <label class="form-check-label" for="project_edit_form_visible">{{ trans.form_label_visible }}</label>
                                    <div class="form-text">{{ trans.form_text_visible }}</div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" id="project_edit_form_globalactivities" name="project_edit_form_globalactivities" tabindex="10" checked>
                                    <label class="form-check-label" for="project_edit_form_globalactivities">{{ trans.form_label_global_activities }}</label>
                                    <div class="form-text">{{ trans.form_text_global_activities }}</div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ trans.btn_close }}</button>
                        <button type="submit" class="btn btn-primary">{{ trans.btn_save }}</button>
                        <input type="hidden" name="{{ csrf.nameKey | raw }}" value="{{ csrf.name | raw }}">
                        <input type="hidden" name="{{ csrf.valueKey | raw }}" value="{{ csrf.value | raw }}">
                        <input type="hidden" id="dateFormats_L" value="{{ trans.dateFormats_L }}">
                        <input type="hidden" id="dateFormats_startOfTheWeek" value="{{ trans.dateFormats_startOfTheWeek }}">
                    </div>

                </form>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}

{% block scripts %}
    <script nonce="{{ nonce }}" src="{{ basePath }}/lib/tempus-dominus/tempus-dominus.min.js"></script>
    <script nonce="{{ nonce }}" src="{{ basePath }}/js/tempus.js"></script>
    <script nonce="{{ nonce }}" src="{{ basePath }}/js/projects.js"></script>
{% endblock %}
