{% extends 'base.html.twig' %}

{% block title %}{{trans.view_teams }}{% endblock %}

{% block css %}
    <link href="{{ basePath }}/css/container-max-width.css" rel="stylesheet">
{% endblock %}

{% block navbar %}
    {% embed 'navbar.html.twig' with {'title': trans.view_teams, 'navLinks': navLinks } %}{% endembed %}
{% endblock %}


{% block content %}
    <div class="d-flex justify-content-end py-2">
         <a class="btn btn-close" href="{{ navLinks.teams }}" role="button"></a>
    </div>

    <div class="card mb-3">

        <div class="card-header fs-5 fw-bold">
            <span class="badge p-1 border border-light rounded-circle" style="background-color: {{ team.color }};"><span class="visually-hidden">color</span></span>
            <span class="ms-1">{{ team.name }}</span>
        </div>

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-borderless w-auto">
                    <tbody>
                        <tr>
                            <th scope="row">{{ trans.card_teamleaders }}</th>
                            <td>{{ teamleaders is empty ? trans.card_none : teamleaders }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <form name="team_edit_form" method="post" autocomplete="off">
            <div class="card-body">
                {% embed 'flash-messages.html.twig' %}{% endembed %}

                <div class="row mb-3">
                    <label for="team_edit_form_name" class="col-form-label col-sm-3">{{ trans.form_label_name }}</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="team_edit_form_name" name="team_edit_form_name" required="required" value="{{ team.name }}" placeholder="{{ trans.form_label_name }}" minlength="5" maxlength="180" tabindex="1">
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="team_edit_form_color" class="col-form-label col-sm-3">{{ trans.form_label_color }}</label>
                    <div class="col-sm-9">
                        <div class="dropdown">
                            <input type="color" class="form-control form-control-color form-control-color-select" id="team_edit_form_color" name="team_edit_form_color" data-bs-toggle="dropdown" value="{{ team.color }}">
                            <div class="dropdown-menu" id="team_edit_form_colorselector">
                                {% for color in colors %}
                                    <span class="btn btn-select-color m-1 p-2 border" style="background-color:{{ color.value }};" id="team_edit_form_color_entry" data-color="{{ color.value }}"></span>
                                    {% if loop.index is divisible by(6) %}
                                        <br>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <label for="team_edit_form_users" class="col-form-label col-sm-3">{{ trans.form_label_add_user }}</label>
                    <div class="col-sm-9">
                        <select class="form-select" id="team_edit_form_users" name="team_edit_form_users" tabindex="3">
                            <option selected value=""></option>
                            {% for user in users %}
                                <option value="{{ user.id }}" {% if user.id in teamMembersIds %}hidden{% endif %}>{{ user.name }}</option>
                            {% endfor %}
                        </select>
                        <div class="form-text">{{ trans.form_text_add_user }}</div>
                    </div>
                </div>

                <div class="mb-3" id="team_edit_form_members">
                    <div class="row mb-3">
                        <div class="col-sm-9 offset-sm-3">
                            {{ trans.form_label_members }}
                            <div class="form-text mb-3">{{ trans.form_text_members }}</div>
                        </div>
                    </div>
                    {% for member in teamMembers %}
                    <div class="row mb-3 mx-0" id="team_edit_form_members_{{ member.userId }}">
                        <div class="col-sm-9 offset-sm-3 border border-secondary-subtle">
                            <div class="form-check py-2">
                                <input type="hidden" id="team_edit_form_members_{{ member.userId }}_user" name="team_edit_form[members][{{ member.userId }}][user]" value="1" required="required">
                                <input class="form-check-input" type="checkbox" id="team_edit_form_members_{{ member.userId }}_teamlead" name="team_edit_form[members][{{ member.userId }}][teamlead]" value="1" {% if member.teamlead == 1 %}checked="checked"{% endif %}>
                                <label class="form-check-label" for="team_edit_form_members_{{ member.userId }}_teamlead">{{ member.name }}</label>
                                <button type="button" class="btn-remove-member btn btn-light btn-sm d-inline-flex float-end" value="{{ member.userId }}">
                                    <i class="bi bi-trash"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>

            <div class="card-footer">
                <div class="mb-3 float-end">
                    <button type="submit" class="btn btn-primary" tabindex="4">
                        <i class="bi bi-floppy"></i>
                        <span class="px-1">{{ trans.btn_save }}</span>
                    </button>
                </div>
                <input type="hidden" name="{{ csrf.nameKey | raw }}" value="{{ csrf.name | raw }}">
                <input type="hidden" name="{{ csrf.valueKey | raw }}" value="{{ csrf.value | raw }}">
            </div>
        </form>
    </div>
{% endblock %}

{% block scripts %}
    <script nonce="{{ nonce }}" src="{{ basePath }}/js/teams.js"></script>
{% endblock %}
