{% extends 'base.html.twig' %}

{% block title %}{{trans.view_user_profile}}{% endblock %}

{% block css %}
    <link href="{{ basePath }}/css/container-max-width.css" rel="stylesheet">
{% endblock %}

{% block navbar %}
    {% embed 'navbar.html.twig' with {'title': trans.view_user_profile, 'navLinks': navLinks } %}{% endembed %}
{% endblock %}

{% block content %}
    <div class="d-flex justify-content-end py-2">
         <a class="btn btn-close" href="{{ navLinks.users }}" role="button"></a>
    </div>

    <div class="card mb-3">
        <div class="card-header fs-5 fw-bold">
            {{ user.name }}
        </div>

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-borderless w-auto">
                    <tbody>
                        <tr>
                            <th scope="row">{{ trans.table_row_status }}</th>
                            <td>
                                {% if user.status == true %}
                                    <span class="badge text-bg-success">{{ trans.status_active }}</span>
                                {% else %}
                                    <span class="badge text-bg-danger">{{ trans.status_inactive }}</span>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">{{ trans.table_row_role }}</th>
                            <td>
                                {% if user.roleId == 3 %}
                                    <span class="badge text-bg-danger">{{ user.role }}</span>
                                {% elseif user.roleId == 2 %}
                                    <span class="badge text-bg-primary">{{ user.role }}</span>
                                {% else %}
                                    <span class="badge text-bg-secondary">{{ user.role }}</span>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">{{ trans.table_row_registrationDate }}</th>
                            <td>{{ user.registrationDate is empty ? "" : user.registrationDate|date(trans.dateFormats_datetime) }}</td>
                        </tr>
                        <tr>
                            <th scope="row">{{ trans.table_row_lastlogin }}</th>
                            <td>{{ user.lastLogin is empty ? "" : user.lastLogin|date(trans.dateFormats_datetime) }}</td>
                        </tr>
                        <tr>
                            <th scope="row">{{ trans.table_row_email }}</th>
                            <td>{{ user.email is empty ? "" : user.email }}</td>
                        </tr>
                        <tr>
                            <th scope="row">{{ trans.table_row_teams }}</th>
                            <td>
                                {% if user.teams|length > 0 %}
                                <ul class="list-unstyled ms-1 mb-0">
                                {% for team in user.teams %}
                                    <li>
                                        <div class="d-inline-flex align-items-center">
                                            <span class="badge p-1 border border-light rounded-circle" style="background-color: {{ team.color }};"><span class="visually-hidden">color</span></span>
                                            <span class="ms-1">{{ team.name }}</span>
                                            {% if team.teamlead == 1 %}
                                                <i class="bi bi-award ms-3 text-primary"></i>
                                            {% endif %}
                                        </div>
                                    </li>
                                {% endfor %}
                                </ul>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">{{ trans.table_row_customers }}</th>
                            <td>
                                {% if customers|length > 0 %}
                                <ul class="list-unstyled ms-1">
                                {% for customer in customers %}
                                    <li>
                                        <div class="d-inline-flex align-items-center {% if customer.visible == 0 %}text-secondary fst-italic{% endif %}">
                                            <span class="badge p-1 border border-light rounded-circle" style="background-color: {{ customer.color }};"><span class="visually-hidden">color</span></span>
                                            <span class="ms-1">{{ customer.name }}</span>
                                        </div>
                                    </li>
                                {% endfor %}
                                </ul>
                                {% endif %}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-header fs-5 fw-bold">
            {{ trans.table_row_projects }}
        </div>

        <div class="card-body">
            {% if projects|length > 0 %}
            <div class="table-responsive">
                <table class="table" id="datatable">
                    <thead>
                        <tr>
                            <th scope="col">{{ trans.table_row_name }}</th>
                            <th scope="col">{{ trans.table_row_number }}</th>
                            <th scope="col">{{ trans.table_row_customer }}</th>
                            <th scope="col">{{ trans.table_row_visible }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for project in projects %}
                        <tr>
                            <td {% if project.visible == false %}class="text-secondary fst-italic"{% endif %}>
                                <div class="d-inline-flex align-items-center text-nowrap">
                                    <span class="badge p-1 border border-light rounded-circle" style="background-color: {{ project.color }};"><span class="visually-hidden">color</span></span>
                                    <span class="ms-1">{{ project.name }}</span>
                                </div>
                            </td>
                            <td {% if project.visible == false %}class="text-secondary fst-italic"{% endif %}>{{ project.number }}</td>
                            <td>
                                <div class="d-inline-flex align-items-center text-nowrap">
                                    <span class="badge p-1 border border-light rounded-circle" style="background-color: {{ project.customerColor }};"><span class="visually-hidden">color</span></span>
                                    <span class="ms-1">{{ project.customerName }}</span>
                                </div>
                            </td>
                            <td>
                                {% if project.visible == true %}
                                    <span class="badge text-bg-success">{{ trans.badge_yes }}</span>
                                {% else %}
                                    <span class="badge text-bg-danger">{{ trans.badge_no }}</span>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}

        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script nonce="{{ nonce }}" src="{{ basePath }}/js/dataTables.js"></script>
{% endblock %}

